/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-image: url("/resources/camouflage-1541188_1280.jpg");
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
	-fx-background-size: 1600 853;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
	
	/*-fx-background-color:  #145a32;*/
}

#label{
	-fx-text-fill: #ffffff;	
}

#tv .table-column {
 /*  -fx-alignment: CENTER-CENTER;*/
}

Label{
		-fx-text-fill: #ffffff;	
}

